<launch>
  <arg name="is_sim" value="1"/>
  <arg name="traj_gen" value="1"/>
  <arg name="target_timestep" value="0.5"/>
  <arg name="num_legs" value="80"/>

  <include file="$(find gtddp_drone)/launch/constants.launch">
    <arg name="ddp_select" value="gtddp"/>

    <!-- DDP Hyperparameters -->
    <arg name="num_time_steps" value="501"/>
    <arg name="num_iterations" value="4"/><!--"150"/>-->
    <arg name="num_long_legs" value="5"/>
    <arg name="short_iterations" value="100"/>
    <arg name="dt" value="0.001"/>
    <arg name="learning_rate" value="0.04"/>

    <!-- AR.Drone System Parameters -->
    <arg name="mass" value="0.436"/>
    <arg name="length" value="0.19"/>
    <arg name="Ixx" value="0.0045"/>
    <arg name="Iyy" value="0.0051"/>
    <arg name="Izz" value="0.0095"/>
  </include>

  <!-- GT-DDP nodes -->
  <node name="gtddp_optimize_node" pkg="gtddp_drone" type="gtddp_optimize_node" output="screen">
    <param name="is_gen" value="$(arg traj_gen)"/>
    <param name="gen_legs" value="$(arg num_legs)"/>
  </node>

  <!-- Target node -->
  <node name="gtddp_target_node" pkg="gtddp_drone_target_trajectory" type="gtddp_target_node" output="screen">
    <param name="target_dt" value="$(arg target_timestep)"/>
  </node>

</launch>
