<launch>
  <arg name="is_sim" value="1"/>
  <arg name="traj_gen" value="1"/>
  <arg name="target_timestep" value="0.5"/>
  <arg name="num_legs" value="5"/>

  <include file="$(find gtddp_drone)/launch/pursuit_constants.launch">
  </include>

  <!-- GT-DDP nodes -->
  <node name="gtddp_optimize_node" pkg="gtddp_drone" type="gtddp_optimize_node" output="screen">
  </node>


</launch>
