<launch>
  <arg name="is_sim" value="1"/>
  <arg name="traj_gen" value="1"/>
  <arg name="target_timestep" value="0.5"/>
  <arg name="num_legs" value="80"/>

  <!-- GT-DDP nodes -->
  <node name="gtddp_optimize_node" pkg="gtddp_drone" type="gtddp_optimize_node" output="screen">
    <param name="is_gen" value="$(arg traj_gen)"/>
    <param name="gen_legs" value="$(arg num_legs)"/>
  </node>
  
  <!-- Target node -->
  <node name="gtddp_target_node" pkg="gtddp_drone_target_trajectory" type="gtddp_target_node" output="screen">
    <param name="target_dt" value="$(arg target_timestep)"/>
  </node>

</launch>